@import "libs/font"
* 
    box-sizing: border-box
    padding: 0
    margin: 0
body
    font-family: 'Noto Sans', 'Arial', sans-serif
    background-color: #000
    color: #fff
    font-size: 18px
    position: relative
    scroll-behavior: smooth
    cursor: default
    @media (max-width: 375.1px)
        font-size: 16px
h1,
h2,
h3
    font-family: 'Montserrat', 'Arial', sans-serif
.container 
    width: 1160px
    margin-left: 7%
    margin-right: 12%
    &_center
        margin: 0 auto
    &_mr14p
        margin-right: 14%
        @media (max-width: 375.1px)
            margin: 0 auto
    @media (max-width: 375.1px)
        width: 345px
        margin: 0 auto 
    @media (max-width: 1024.1px) and (min-width: 375.1px)
        width: auto
.display-none
    display: none
a
    text-decoration: none
    color: #fff
    &:visited
        color: #fff
    &:active
        color: #fff
img
    width: 100%


@import "libs/animations"
@import "base/mixins"
@import "base/variables"
@import "blocks/buttons"
@import "blocks/cookies"
@import "blocks/text"
@import "blocks/header"
@import "blocks/promo"
@import "blocks/become-partners"
@import "blocks/mission"
@import "blocks/scanner"
@import "blocks/bi-tool"
@import "blocks/qr-code"
@import "blocks/easier"
@import "blocks/forms"
@import "blocks/contact"
@import "blocks/footer"

