@import "libs/font"
* 
    box-sizing: border-box
    padding: 0
    margin: 0
body
    font-family: 'Noto Sans', 'Arial', sans-serif
    background-color: #000
h1,
h2,
h3
    font-family: 'Montserrat', 'Arial', sans-serif
.container 
    width: 1160px
    margin: 0 auto
.display-none
    display: none
a
    text-decoration: none

@import "libs/animations"
@import "base/mixins"
@import "base/variables"
@import "blocks/buttons"
@import "blocks/header"
@import "blocks/promo"
