.become-partner
    padding-top: 160px
.become-partner-wrapper
    @include flex-space-btw
    align-items: center
    padding-left: 7%
.become-partner__item
    height: 310px
    width: 42%
    padding: 64px 55px
    border-radius: 21px
    border: 2px solid rgba(255, 255, 255, 0.5)
    display: flex
    flex-direction: column
    justify-content: center
.bc-item__title
    font-weight: 700
    font-size: 30px
    line-height: 40px
.bc-item__link
    font-size: 24px
    display: block
    margin-top: 30px
    color: #fff
    text-decoration: underline