.bi-tool
    padding: 205px 0
.bi-tool-wrapper
    @include flex-space-btw
.bi-tool__text
    padding-top: 75px
    width: 45%
.bi-tool__descr
    width: 70%
.bi-tool__icons
    width: 55%
    padding-left: 1%

