.button
    display: block
    width: 35%
    height: 80px
    border-radius: 10px
    font-family: 'Montserrat', 'Arial', sans-serif
    font-size: 24px
    cursor: pointer
    &_black
        background-color: #000
        border: 1px solid #fff
        color: #fff
        text-transform: capitalize
        margin: 0 auto
        margin-top: 60px