.contact
    background: url('../img/get-in-touch/bg.png') center center/cover no-repeat
    padding-bottom: 150px
.notab
    padding-top: 380px
.notab__img
    margin: 0 auto
    width: 858px
.contact__title
    margin-top: 258px
.contact__download-text
    font-size: 24px
    text-transform: uppercase 
    margin-top: 90px
    font-weight: 700
    text-align: center
    margin-bottom: 25px
.contact__download-links
    @include flex-space-btw
    width: 53%
    margin: 0 auto

.contact-download__item
    &:first-child
        width: 258px
    &:last-child
        width: 292px