.footer-img
    width: 100%
    height: 264px
    background: url('../img/footer-bg.png')

.footer
    min-height: 416px
    padding-top: 75px
    padding-bottom: 75px
    background-color:#202020
    &__wrapper
        display: flex
        justify-content: space-between
    &__logo
        font-weight: 700
        font-size: 19px
        text-transform: uppercase
        color: #fff
    &__nav
        margin-top: 45px
        &-list
            list-style-type: none
        &-item
            font-weight: 500
            font-size: 16px
            text-transform: uppercase
            margin-bottom: 14px
            color: #fff
    &__rights
        margin-top: 34px
        color: rgba(255, 255, 255, 0.33)
        font-weight: 500
        font-size: 16px
    &__subscribe-label
        font-size: 16px
        font-weight: 500
        color: #fff
        margin-bottom: 23px
        

