.footer
    padding-bottom: 90px
    font-family: 'Avenir', 'Arial', sans-serif
    font-weight: 500
    background: url('../img/footer/bg.png') 0 0 no-repeat
    position: relative
    &::before
        content: ''
        width: 400px
        height: 400px
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%)
        opacity: 0.7
        filter: blur(250px)
        transform: rotate(5.78deg)
        position: absolute
        bottom: 10px
        left: -40px
        z-index: -1
.footer-wrapper
    @include flex-space-btw
.footer__title
    width: 80px
.footer__email
    margin-top: 15px
.footer__link
    margin-top: 10px
    display: block
    color: #fff
    font-weight: 800
.footer__copyright
    margin-top: 20px
    font-weight: 800
.footer-documents__item
    color: #fff
    font-weight: 800
