.feed-form
    margin: 0 auto
    margin-top: 80px
    width: 70%
    &__input
        width: 100%
        height: 82px
        font-size: 18px
        padding: 30px 25px
        border-radius: 10px
        margin-bottom: 25px
        &::placeholder
            color: #BFBFBF
    &__input_small
        width: 48%

        
.input-wrapper
    @include flex-space-btw
