.promo
    background: url('../img/promo/bg.png') center center/cover no-repeat
.promo-wrapper
    @include flex-space-btw
    margin-top: 150px
.promo__info
    width: 55%
    padding-top: 125px
.promo__heading
    font-size: 64px
.promo__text
    margin-top: 130px
    margin-left: 110px


    