.promo
    background: url('../img/promo/bg.png') 0 0/contain no-repeat
    padding-bottom: 25px
.promo-wrapper
    @include flex-space-btw
    padding-top: 150px
.promo__info
    width: 55%
    padding-top: 125px
.promo__title
    font-size: 64px
.promo__text
    margin-top: 130px
    margin-left: 110px
    width: 60%
    font-size: 20px
.promo__screen
    width: 28%
.promo__img
    border-radius: 52px


// Download 

.promo__download
    @include flex-space-btw
    align-items: center
    margin-top: 85px
    width: 100%
.promo-download__title
    font-family: 'Montserrat', 'Arial', sans-serif
    font-weight: 700
    font-size: 35px
    text-transform: uppercase
.promo-links
    @include flex-space-btw
    align-items: center
    width: 33%

 