.qr-code
    background: url('../img/qr-code/bg.png') top right/cover no-repeat
    padding-top: 225px
    padding-bottom: 190px
.qr-code-wrapper
    @include flex-space-btw
    height: 1090px
    width: 80%
    margin-left: 12%
.qr-code-inner
    @include flex-space-btw
    width: 65%
    align-self: flex-start
.qr-code__info
    width: 48%
    align-self: flex-end
    padding-bottom: 30px
.qr-code__descr
    width: 80%
.qr-code-links
    margin-top: 60px
    @include flex-space-btw
.qr-code__screen_1
    width: 42%
.qr-code__screen_2
    align-self: flex-end

.qr-code-footer
    padding-top: 42px
.qr-code-footer__screen
    width: 332px
    margin: 0 auto
.qr-code-footer-inner
    margin-top: 80px
    @include flex-space-btw