.scanner
    background: url('../img/id-scanner/bg.jpg') center center/cover no-repeat
    padding-top: 470px
.scanner-wrapper
    @include flex-space-btw
.scanner__screens
    width: 55%
    @include flex-space-btw
.scanner-screens__item
    width: 40%
.scanner__info
    width: 27%
    padding-top: 380px
.scanner-info__descr
    margin-top: 24px