.title
    font-size: 51px 
    font-weight: 700
    font-size: 51px
    font-family: 'Montserrat'
    &_right
        text-align: right
    &_center
        text-align: center
.descr
    margin-top: 25px
    &_right
        text-align: right
    &_center
        text-align: center