 @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('src/fonts/montserratbold.ttf') format('truetype');
}

body {
    padding: 110px 50px;
    background-color: #9166ff;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
}

img {
    width: 100%;
}
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.slider-wrapper {
    width: 600px;
}

.slider-inner {
    position: relative;
    top: 0;
}

svg {
    width: 200px;
    height: 200px;
    transition: .3s all;
    cursor: pointer;
}

svg:hover {
    opacity: 0.6
}

.slide {
    background-color: #c1a8ff;
    height: 400px;
}

.slide:nth-child(2) {
    background-color: #5817ff
}

.slide:nth-child(3) {
    background-color: #7400d4
}

.slide:nth-child(4) {
    background-color: #522a73
}

.slide:nth-child(5) {
    background-color: #9f25ba
}
