 @font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('src/fonts/montserratbold.ttf') format('truetype');
}

body {
    padding: 110px 50px;
    background-color: #9166ff;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    user-select: none;
}

img {
    width: 100%;
}
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.slider-wrapper {
    width: 600px;
}

.slider-inner {
    position: relative;
    top: 0;
    transform: translateX(-600px);
}

button {
    border: none;
    cursor: pointer;
}
.slider__arrow {
    background-color: rgba(0, 0, 0, 0);
}

svg {
    width: 200px;
    height: 200px;
    transition: .3s all;
}

svg:hover {
    opacity: 0.6
}

.slide {
    height: 400px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 12%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.nav-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: .5s all;
}

.nav-item:hover {
    background-color: #ffffffa8;
}

.nav-item_active {
    background-color: rgba(165, 165, 165, 0.788);
}